.card {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.card__thumb {
    height: 235px;
    overflow: hidden;
    background-color: #000;
    transition: height 0.3s;
}

.card__thumb img {
    display: block;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
    transform: scale(1);
}

.card:hover .card__thumb img {
    opacity: 0.6;
    transform: scale(1.2);
}

.card:hover .card__thumb {
    height: 90px;
}

.card__body {
    position: relative;
    padding: 20px;
    height: 185px;
    transition: height 0.3s;
}

.card:hover .card__body {
    height: 330px;
}

.card__title {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 22px;
    color: #000;
    font-weight: bold;
}

.card:hover .card__title {
    animation: titleBlur 0.3s;
}

.card__description {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 65px;
    margin: 0;
    padding: 0;
    color: #666c74;
    font-size: 14px;
    line-height: 27px;
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    transition-delay: 0s;
    transform: translateY(25px);
}

.card:hover .card__description {
    opacity: 1;
    transition-delay: 0.1s;
    transform: translateY(0);
}

@keyframes titleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }

    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
    }
}

/* For mobile */
@media (max-width: 767px) {

    .card__body {
        height: 100%;
    }

    .card__thumb {
        height: 100%;
    }

    .card__thumb img {
        transform: scale(1);
    }

    .card__description {
        display: none;
    }

    .card:hover .card__thumb {
        height: 100%;
    }

    .card:hover .card__body {
        height: 100%;
    }

    .card:hover .card__title {
        animation: none;
    }

    .card:hover .card__subtitle {
        animation: none;
    }

    .card:hover .card__description {
        opacity: 1;
        transition-delay: 0s;
        transform: none;
    }

    /* make all positions static */
    .card__body,
    .card__thumb,
    .card__title,
    .card__subtitle {
        position: static;
    }

    .card__thumb img {
        transform: none;
    }
}